<input type="file" (change)="importDatabase($event)" multiple="false" />

<div class="mt-4" *ngIf="showErrorMessage">El archivo seleccionado no es un archivo de Excel válido.</div>

  <div class="table-responsive" *ngFor="let categoryData of categoryDataList">
    <h5>{{ categoryData.category }}</h5>
    <table class="table" (drop)="handleDrop($event, categoryData.category)" (dragover)="$event.preventDefault()">
      <thead>
        <tr>
          <th *ngFor="let header of modifiedFirstData">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of categoryData.data" draggable="true" (dragstart)="handleDragStart(row, categoryData)">
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
