<input type="file" (change)="importDatabase($event)" multiple="false" />

  <div class="table-responsive" *ngFor="let categoryData of categoryDataList">
    <h5>{{ categoryData.category }}</h5>
    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let header of firstData.data[0]">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of categoryData.data">
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
